<h1 class="forms__header" *ngIf="areWeEditing">Edit mode</h1>
<h1 class="forms__header" *ngIf="!areWeEditing">Create Mode</h1>

<div class="forms">
  <form #employeForm="ngForm" (ngSubmit)="testForm(employeForm)" novalidate>

  <div class="forms__item">
    <label class="forms__item-label" for="name">Name</label>
    <input
      class="forms__item-input"
      (focus)="hideList()"
      required #CamName="ngModel"
      name="name" [(ngModel)]="name"
      type="text"
      id="name"
    >
    <h4 class="forms__item-info" *ngIf="CamName.invalid && (CamName.dirty || CamName.touched)">
      Campaign name is required
    </h4>
  </div>

  <div class="forms__item">
    <label  class="forms__item-label" for="productName">Product name</label>
    <select
      class="forms__item-option"
      (focus)="hideList()"
      required #ProdName="ngModel"
      name="productName"
      [(ngModel)]="productName"
      id="productName"
    >
      <option *ngFor="let product of products" value="{{product}}">{{product}}</option>
    </select>
    <h4 class="forms__item-info" *ngIf="ProdName.invalid && (ProdName.dirty || ProdName.touched)">
      Product name is required
    </h4>
  </div>
  <div
    class="forms__item"
    (focus)="showList()"
    (blur)="hideList()"
  >

  <label class="forms__item-label" for="keyWords">Key words</label>
  <input
    class="forms__item-input"
    name="keyWords"
    (focus)="showList()"
    #KeyWordsInput="ngModel"
    [(ngModel)]="keyWord"
    type="text"
    id="keyWords"
    (input)="doKeyWordSearch()"
  >
  <ul *ngIf="KeyWordsInput.dirty && listIsVisible">
    <li *ngFor="let key of keys$ | async" (click)="selectKey(key)">{{ key }}</li>
  </ul>
  </div>

  <div class="forms__item">
    <label class="forms__item-label" for="bidAmount">Bid Amount</label>
    <input
      class="forms__item-input"
      (focus)="hideList()"
      required min="1"
      #BidAmount="ngModel"
      name="bidAmount"
      [(ngModel)]="bidAmount"
      type="number"
      id="bidAmount"
    >
    <h4 class="forms__item-info" *ngIf="BidAmount.invalid && (BidAmount.dirty || BidAmount.touched)">
      Bid amount needs to be min 1
    </h4>
  </div>

  <div class="forms__item">
    <label class="forms__item-label" for="fund">Fund</label>
    <input
      class="forms__item-input"
      (focus)="hideList()"
      required min="1" max="{{budget}}"
      #Fund="ngModel"
      name="fund"
      [(ngModel)]="fund"
      type="number"
      id="fund"
    >
    <h4  class="forms__item-info" *ngIf="Fund.invalid && (Fund.dirty || Fund.touched)">
      Fund needs to be min 1 and lower than budget
    </h4>
  </div>

  <div class="forms__item">
    <label class="forms__item-label" for="town">Town</label>
    <select
      class="forms__item-option"
      required
      #Town="ngModel"
      name="town"
      [(ngModel)]="town"
      id="town"
    >
      <option
        class="forms__item-option"
        *ngFor="let town of towns"
        value="{{town}}"
      >{{town}}</option>
    </select>
    <h4  class="forms__item-info" *ngIf="Town.invalid && (Town.dirty || Town.touched)">
      Town needs to be selected
    </h4>
  </div>

  <div class="forms__item">
    <label class="forms__item-label" for="radius">Radius</label>
    <input
      class="forms__item-input"
      min="1" max="50" required
      #Radius="ngModel"
      name="radius"
      [(ngModel)]="radius"
      type="number"
      id="radius"
    >
    <h4 class="forms__item-info" *ngIf="Radius.invalid && (Radius.dirty || Radius.touched)">
      Radius needs to be min 1 km and lower than 50 km
    </h4>
  </div>

  <div class="forms__status">
    <label class="forms__status-label" for="active">Active</label>
    <input
      class="forms__status-input"
      name="status"
      #Status="ngModel"
      [(ngModel)]="status"
      type="radio"
      id="active"
      value="active"
       required
    >
    <label class="forms__status-label" for="inactive">Inactive</label>
    <input
      class="forms__status-input"
      name="status"
      #Status="ngModel"
      [(ngModel)]="status"
      type="radio"
      id="inactive"
      value="inactive"
      required
    >
    <h4 class="forms__item-info" *ngIf="(Status.invalid && (employeForm.dirty || employeForm.touched))">
      Please select a status
    </h4>
  </div>

    <button type="submit" [disabled]="employeForm.invalid">submit</button>
  </form>
</div>

  <div class="forms__budget">
    <h1 class="forms__budget-txt">Avalible balance: {{budget | currency:'PLN'}}</h1>
  </div>

<app-list [avalibleCampaigns]="campaigns" (changedC)="onCampaignChange($event)"></app-list>
